<template>
  <!-- Header -->
  <header class="header">
    <div class="container">
      <!-- Logo -->
      <div class="header-logo">
        <g-link to="/">
          <g-image
            src="~/assets/img/ubuntu-touch-logo.svg"
            alt="ubuntu-touch-logo"
          />
        </g-link>
      </div>

      <!-- Nav -->
      <div class="header-nav">
        <div class="container">
          <b-collapse id="headerNav" class="collapse fade">
            <!-- Open Store -->
            <div class="header-dropdown">
              <a class="header-dropdown-toggler" href="https://open-store.io/">
                Open Store
                <g-image
                  class="angle-icon d-lg-none"
                  src="~/assets/img/symbols/angle-icon.svg"
                  alt="angle-icon"
                />
              </a>
            </div>

            <!-- About Ubuntu Touch -->
            <div class="header-dropdown">
              <a
                class="header-dropdown-toggler"
                href="https://ubuntu-touch.io/"
              >
                About Ubuntu Touch
                <g-image
                  class="angle-icon d-lg-none"
                  src="~/assets/img/symbols/angle-icon.svg"
                  alt="angle-icon"
                />
              </a>
            </div>

            <!-- UBports Foundation -->
            <div class="header-dropdown">
              <a class="header-dropdown-toggler" href="https://ubports.com/">
                UBports Foundation
                <g-image
                  class="angle-icon d-lg-none"
                  src="~/assets/img/symbols/angle-icon.svg"
                  alt="angle-icon"
                />
              </a>
            </div>

            <!-- Donate -->
            <div class="header-dropdown">
              <a
                class="header-dropdown-toggler"
                href="https://ubports.com/donate"
              >
                Donate
                <g-image
                  class="angle-icon d-lg-none"
                  src="~/assets/img/symbols/angle-icon.svg"
                  alt="angle-icon"
                />
              </a>
            </div>
          </b-collapse>
        </div>
      </div>

      <!-- Hamburger -->
      <div class="header-hamburger">
        <a v-b-toggle.headerNav @click="mobileOpen">
          <g-image
            src="~/assets/img/symbols/hamburger.svg"
            alt="hamburger-icon"
          />
        </a>
      </div>
    </div>
  </header>
</template>

<script>
import { BCollapse, VBToggle } from "bootstrap-vue";

export default {
  name: "Header",
  components: {
    BCollapse
  },
  directives: {
    "b-toggle": VBToggle
  },
  methods: {
    setOpenMenu(e) {
      let isDesktop = window.innerWidth > 991;
      if (this.openMenu == menuToOpen) {
        if (isDesktop) this.$emit("navbar-closed");
      } else {
        if (isDesktop) this.$emit("navbar-opened");
      }
    },
    mobileOpen() {
      this.$emit(this.openMobileMenu ? "navbarOpened" : "navbarClosed");
    }
  }
};
</script>
